{
  "openapi": "3.0.1",
  "info": {
    "title": "Outbox AI API",
    "description": "API for managing AI agents (chatbots and voicebots) on the Outbox platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.getoutbox.ai"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/agent/list": {
      "get": {
        "summary": "List Agents",
        "description": "Retrieve a list of agents for the authenticated user's company with optional filtering, searching, and pagination",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. If omitted, returns all results unpaginated. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by agent type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["all", "chat", "voice"],
              "default": "all"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter agents by name (case-insensitive partial match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/agent/duplicate/{agent_id}": {
      "post": {
        "summary": "Duplicate Agent",
        "description": "Duplicate an existing agent to a specified company (can be the same or different company)",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to duplicate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Duplication details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDuplicate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent duplicated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The ID of the newly duplicated agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 3 on both source and destination companies)"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/{agent_id}/": {
      "get": {
        "summary": "Get Agent",
        "description": "Retrieve agent details including configuration, tools, files, and platform integrations",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      },
      "patch": {
        "summary": "Update Agent",
        "description": "Update an existing agent's configuration",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Agent fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid data or failed to retrieve assistant"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Agent",
        "description": "Delete an agent and unassign any associated phone numbers",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/": {
      "post": {
        "summary": "Create Agent",
        "description": "Create a new agent (chatbot or voicebot)",
        "requestBody": {
          "description": "Agent creation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The ID of the newly created agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Agent limit reached or failed to create assistant"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 3)"
          }
        }
      }
    },
    "/agent/file/{file_id}": {
      "get": {
        "summary": "Get File Content",
        "description": "Retrieve the text content of an agent's file (supports PDF, DOCX, and text files)",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the file to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain text content of the file"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Unsupported file type"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal Server Error - Error processing file"
          }
        }
      },
      "patch": {
        "summary": "Update File Content",
        "description": "Update the text content of an existing file",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the file to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New file content",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "delete": {
        "summary": "Delete File",
        "description": "Delete a file from an agent and remove it from the knowledge base",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the file to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/agent/file": {
      "post": {
        "summary": "Upload File",
        "description": "Upload a file to an agent (file upload, text content, or web scraping)",
        "requestBody": {
          "description": "File upload options - text content, file upload, or URLs for web scraping",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUpload"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadMultipart"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully"
          },
          "400": {
            "description": "Bad Request - Invalid file or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          }
        }
      }
    },
    "/agent/integration/{agent_id}": {
      "post": {
        "summary": "Create/Update Platform Integration",
        "description": "Create or update a platform integration for a chatbot agent (e.g., Instagram, Facebook)",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Platform integration details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration created/updated successfully"
          },
          "400": {
            "description": "Bad Request - Missing required fields or GHL integration not found"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/integration": {
      "patch": {
        "summary": "Update Integration",
        "description": "Update an existing platform integration",
        "requestBody": {
          "description": "Integration update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated successfully"
          },
          "400": {
            "description": "Bad Request - Missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Integration not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Integration",
        "description": "Delete a platform integration",
        "requestBody": {
          "description": "Integration ID to delete",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration deleted successfully"
          },
          "400": {
            "description": "Bad Request - Missing integration_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Integration not found"
          }
        }
      }
    },
    "/agent/tool/{agent_id}": {
      "get": {
        "summary": "List Agent Tools",
        "description": "Retrieve a list of all tools for an agent (simplified view)",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tools retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ToolSimple"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      },
      "post": {
        "summary": "Create/Update Tool",
        "description": "Create or update a tool for an agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Tool configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool created/updated successfully"
          },
          "400": {
            "description": "Bad Request - Missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/tool": {
      "delete": {
        "summary": "Delete Tool",
        "description": "Delete a tool from an agent",
        "requestBody": {
          "description": "Tool ID to delete",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool deleted successfully"
          },
          "400": {
            "description": "Bad Request - Missing tool_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Tool not found"
          }
        }
      }
    },
    "/agent/chat/{agent_id}": {
      "post": {
        "summary": "Send Chat Message",
        "description": "Send a message to a chatbot agent and receive a response (for chatbot agents only)",
        "security": [],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the chatbot agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Chat message details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required fields or invalid agent type"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/call/{agent_id}": {
      "post": {
        "summary": "Initiate Phone Call",
        "description": "Initiate an outbound phone call with a voicebot agent (for voicebot agents only)",
        "security": [],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the voicebot agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Call initiation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallInitiate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated immediately",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "201": {
            "description": "Call queued for later (no concurrent lanes available or scheduled)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Queue object ID"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing phone_number, invalid scheduled_at format, insufficient wallet balance, or failed to create contact"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/module/instance/list": {
      "get": {
        "summary": "List Module Instances",
        "description": "Retrieve a list of all module instances for the authenticated user's company",
        "responses": {
          "200": {
            "description": "List of module instances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModuleInstanceSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/module/instance/{instance_id}": {
      "get": {
        "summary": "Get Module Instance",
        "description": "Retrieve detailed information about a specific module instance including configurations and recent logs",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Module instance details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModuleInstanceDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      },
      "patch": {
        "summary": "Update Module Instance",
        "description": "Update a module instance's name",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Module instance update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleInstanceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Module instance updated successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Module Instance",
        "description": "Delete a module instance and clean up associated schedules and configurations",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Module instance deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 3)"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      }
    },
    "/module/instance": {
      "post": {
        "summary": "Create Module Instance",
        "description": "Create a new module instance",
        "requestBody": {
          "description": "Module instance creation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleInstanceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Module instance created successfully"
          },
          "400": {
            "description": "Bad Request - Missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 3)"
          }
        }
      }
    },
    "/module/instance/configuration/{instance_id}": {
      "get": {
        "summary": "Get Instance Configurations",
        "description": "Retrieve all configuration settings for a module instance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configurations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModuleConfiguration"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      },
      "patch": {
        "summary": "Update Instance Configuration",
        "description": "Update a specific configuration value for a module instance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configuration update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleConfigurationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully"
          },
          "400": {
            "description": "Bad Request - Missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      }
    },
    "/module/instance/schedule/{instance_id}": {
      "get": {
        "summary": "Get Instance Schedule",
        "description": "Retrieve the schedule configuration for a module instance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModuleSchedule"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Schedule not found"
          }
        }
      },
      "post": {
        "summary": "Create/Update Schedule",
        "description": "Create or update a schedule for a module instance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for schedule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Schedule details in crontab format",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleScheduleCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule created/updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid schedule format"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Schedule",
        "description": "Delete the schedule for a module instance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 2)"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      }
    },
    "/module/instance/duplicate/{instance_id}": {
      "post": {
        "summary": "Duplicate Module Instance",
        "description": "Duplicate a module instance to a specified company (can be the same or different company)",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "The ID of the module instance to duplicate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Duplication details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleDuplicate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Module instance duplicated successfully"
          },
          "400": {
            "description": "Bad Request - Missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 3 on both source and destination companies)"
          },
          "404": {
            "description": "Module instance not found"
          }
        }
      }
    },
    "/contacts/list": {
      "get": {
        "summary": "List Contacts",
        "description": "Retrieve a paginated list of contacts with filtering and sorting options",
        "parameters": [
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting (defaults to UTC)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 20 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter contacts by name, email, or phone (case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter contacts by tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["last_activity", "created_at"],
              "default": "last_activity"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "summary": "Get Contact",
        "description": "Retrieve detailed information about a specific contact including recent activity",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "patch": {
        "summary": "Update Contact",
        "description": "Update an existing contact's information",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contact update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Contact",
        "description": "Delete a contact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "summary": "Create Contact",
        "description": "Create a new contact",
        "requestBody": {
          "description": "Contact creation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully"
          },
          "400": {
            "description": "Bad Request - Invalid contact data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/conversations/list": {
      "get": {
        "summary": "List Conversations",
        "description": "Retrieve a paginated list of conversations (contacts with message/call activity)",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter conversations by contact name (case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unread_only",
            "in": "query",
            "description": "If 'true', only return conversations with unread messages or unopened calls",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false"],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/conversations/{contact_id}": {
      "get": {
        "summary": "Get Conversation",
        "description": "Retrieve unified conversation history for a contact (messages, calls, tool calls, and interrupts)",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting (defaults to UTC)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/agent/call-logs/": {
      "get": {
        "summary": "List Call Logs",
        "description": "Retrieve a paginated list of voicebot call logs with filtering options",
        "parameters": [
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter by contact name, phone number, or thread ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by call status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "agent",
            "in": "query",
            "description": "Filter by agent ID",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Filter by call direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["inbound", "outbound", "all"],
              "default": "all"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "description": "Minimum score filter (0-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "description": "Maximum score filter (0-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/agent/call-logs/{agent_id}": {
      "get": {
        "summary": "List Call Logs by Agent",
        "description": "Retrieve a paginated list of voicebot call logs for a specific agent with filtering options",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to filter call logs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter by contact name, phone number, or thread ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by call status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Filter by call direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["inbound", "outbound", "all"],
              "default": "all"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "description": "Minimum score filter (0-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "description": "Maximum score filter (0-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/chat-logs/": {
      "get": {
        "summary": "List Chat Logs",
        "description": "Retrieve a paginated list of chatbot conversation logs with filtering options",
        "parameters": [
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter by contact name, phone number, or thread ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by conversation status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "agent",
            "in": "query",
            "description": "Filter by agent ID",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatLogList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/agent/chat-logs/{agent_id}": {
      "get": {
        "summary": "List Chat Logs by Agent",
        "description": "Retrieve a paginated list of chatbot conversation logs for a specific agent with filtering options",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to filter chat logs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter by contact name, phone number, or thread ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by conversation status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "ISO-8601 datetime string for date range end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatLogList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/transcript/list": {
      "get": {
        "summary": "List Transcripts",
        "description": "Retrieve a paginated list of transcripts (both calls and chats) with basic information",
        "parameters": [
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by thread status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter by contact name or phone number",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcripts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/agent/transcript/list/{agent_id}": {
      "get": {
        "summary": "List Transcripts by Agent",
        "description": "Retrieve a paginated list of transcripts for a specific agent (both calls and chats) with basic information",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "The ID of the agent to filter transcripts",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination. Page size is 10 items.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by thread status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter by contact name or phone number",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcripts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/transcript/{transcript_id}": {
      "get": {
        "summary": "Get Transcript",
        "description": "Retrieve detailed transcript information including messages, tool calls, and cost breakdown",
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "description": "The ID of the thread/transcript",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Timezone",
            "in": "header",
            "description": "User's timezone for timestamp formatting",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Transcript not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Transcript",
        "description": "Delete a transcript (thread)",
        "parameters": [
          {
            "name": "transcript_id",
            "in": "path",
            "description": "The ID of the thread/transcript to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          },
          "404": {
            "description": "Transcript not found"
          }
        }
      }
    },
    "/settings/company": {
      "get": {
        "summary": "Get Company Settings",
        "description": "Retrieve company settings including staff and pending invites",
        "responses": {
          "200": {
            "description": "Company settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      },
      "patch": {
        "summary": "Update Company Settings",
        "description": "Update company settings",
        "requestBody": {
          "description": "Company update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdateMultipart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          }
        }
      },
      "delete": {
        "summary": "Delete Company",
        "description": "Delete the company and all associated schedules",
        "responses": {
          "200": {
            "description": "Company deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          }
        }
      }
    },
    "/settings/transfer": {
      "post": {
        "summary": "Transfer Company",
        "description": "Transfer company ownership to a different agency",
        "requestBody": {
          "description": "Transfer details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyTransfer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company transferred successfully"
          },
          "400": {
            "description": "Bad Request - Missing agency_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Requires level 4 and agency/enterprise admin access"
          }
        }
      }
    },
    "/settings/duplicate": {
      "post": {
        "summary": "Duplicate Company",
        "description": "Duplicate the current company to a new company with all configurations, modules, and agents",
        "requestBody": {
          "description": "Duplication details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDuplicate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company duplicated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "New company ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Requires level 4 and agency/enterprise admin access"
          }
        }
      }
    },
    "/settings/invite": {
      "post": {
        "summary": "Invite Staff Member",
        "description": "Invite a user to join the company or add existing user as staff",
        "requestBody": {
          "description": "Invitation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffInvite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff member invited successfully"
          },
          "400": {
            "description": "Bad Request - Invalid email or role"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          }
        }
      },
      "delete": {
        "summary": "Cancel Invitation",
        "description": "Cancel a pending company invitation",
        "requestBody": {
          "description": "Invitation ID to cancel",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation cancelled successfully"
          },
          "400": {
            "description": "Bad Request - Missing invite_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          },
          "404": {
            "description": "Invitation not found"
          }
        }
      }
    },
    "/settings/staff": {
      "patch": {
        "summary": "Update Staff Member",
        "description": "Update a staff member's role",
        "requestBody": {
          "description": "Staff update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff member updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid staff_id or role"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          },
          "404": {
            "description": "Staff member not found"
          }
        }
      },
      "delete": {
        "summary": "Remove Staff Member",
        "description": "Remove a staff member from the company",
        "requestBody": {
          "description": "Staff ID to remove",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff member removed successfully"
          },
          "400": {
            "description": "Bad Request - Missing staff_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          },
          "404": {
            "description": "Staff member not found"
          }
        }
      }
    },
    "/settings/phone": {
      "get": {
        "summary": "List Phone Numbers",
        "description": "Retrieve all phone numbers available to the company (both company-owned and agency-assigned)",
        "responses": {
          "200": {
            "description": "Phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumberList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      },
      "post": {
        "summary": "Add/Update Phone Number",
        "description": "Add or update a phone number",
        "requestBody": {
          "description": "Phone number details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumberCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number added/updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid phone number or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          }
        }
      },
      "patch": {
        "summary": "Assign Agent to Phone Number",
        "description": "Assign or unassign an agent to a phone number",
        "requestBody": {
          "description": "Phone number assignment details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumberAssign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number assignment updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid phone_number_id or cannot assign to verified_caller_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions (requires level 4)"
          },
          "404": {
            "description": "Phone number not found"
          }
        }
      }
    },
    "/agency": {
      "get": {
        "summary": "Get Agency Settings",
        "description": "Retrieve agency settings including admins and pending invites. Note: Requires Agency API Key.",
        "responses": {
          "200": {
            "description": "Agency settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencySettings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          }
        }
      },
      "patch": {
        "summary": "Update Agency Settings",
        "description": "Update agency settings. Note: Requires Agency API Key.",
        "requestBody": {
          "description": "Agency update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyUpdate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AgencyUpdateMultipart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agency updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          }
        }
      }
    },
    "/agency/company": {
      "get": {
        "summary": "List Agency Companies",
        "description": "Retrieve a list of all companies under the agency. Note: Requires Agency API Key.",
        "responses": {
          "200": {
            "description": "Companies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgencyCompanySummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          }
        }
      },
      "post": {
        "summary": "Create Agency Company",
        "description": "Create a new company under the agency. Note: Requires Agency API Key.",
        "requestBody": {
          "description": "Company creation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyCompanyCreate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AgencyCompanyCreateMultipart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Company ID"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Company limit reached or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          }
        }
      }
    },
    "/agency/company/{company_id}": {
      "get": {
        "summary": "Get Agency Company Details",
        "description": "Retrieve detailed company information including billing data. Note: Requires Agency API Key.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "The ID of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tab",
            "in": "query",
            "description": "Data type to retrieve",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["agents", "modules", "phone", "transactions"],
              "default": "agents"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "ISO-8601 datetime for single month (default: current month)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "ISO-8601 datetime for date range start",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "ISO-8601 datetime for date range end",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyCompanyDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          },
          "404": {
            "description": "Company not found"
          }
        }
      },
      "patch": {
        "summary": "Update Agency Company",
        "description": "Update company settings (agency admin can modify billing settings). Note: Requires Agency API Key.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "The ID of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Company update details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyCompanyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid data or cannot modify rate for direct billing"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          },
          "404": {
            "description": "Company not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Agency Company",
        "description": "Delete a company. Note: Requires Agency API Key.",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "The ID of the company to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/agency/phone": {
      "get": {
        "summary": "List Agency Phone Numbers",
        "description": "Retrieve all phone numbers available to the agency. Note: Requires Agency API Key.",
        "responses": {
          "200": {
            "description": "Phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgencyPhoneNumber"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          }
        }
      },
      "post": {
        "summary": "Add/Update Agency Phone Number",
        "description": "Add or update an agency phone number. Note: Requires Agency API Key.",
        "requestBody": {
          "description": "Phone number details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyPhoneNumberCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number added/updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid phone number or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          }
        }
      },
      "patch": {
        "summary": "Assign Company to Agency Phone Number",
        "description": "Assign or unassign a company to an agency phone number. Note: Requires Agency API Key.",
        "requestBody": {
          "description": "Phone number assignment details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyPhoneNumberAssign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number assignment updated successfully"
          },
          "400": {
            "description": "Bad Request - Invalid phone_number_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          },
          "404": {
            "description": "Phone number not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Agency Phone Number",
        "description": "Delete an agency phone number. Note: Requires Agency API Key.",
        "requestBody": {
          "description": "Phone number ID to delete",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyPhoneNumberDelete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number deleted successfully"
          },
          "400": {
            "description": "Bad Request - Missing phone_number_id"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agency API key"
          },
          "403": {
            "description": "Forbidden - Requires agency admin access"
          },
          "404": {
            "description": "Phone number not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the agent"
          },
          "name": {
            "type": "string",
            "description": "Name of the agent"
          },
          "type": {
            "type": "string",
            "enum": ["chatbot", "voicebot"],
            "description": "Type of agent"
          },
          "prompt": {
            "type": "string",
            "description": "System prompt for the agent"
          },
          "model": {
            "type": "string",
            "description": "AI model used by the agent"
          },
          "first_message": {
            "type": "string",
            "description": "Initial message sent by the agent"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          },
          "platforms": {
            "type": "array",
            "description": "Platform integrations (chatbot only)",
            "items": {
              "$ref": "#/components/schemas/Platform"
            }
          },
          "language": {
            "type": "string",
            "description": "Language for the agent (voicebot only)"
          },
          "voice": {
            "$ref": "#/components/schemas/Voice",
            "description": "Voice settings (voicebot only)"
          },
          "background": {
            "type": "string",
            "enum": ["lounge", "off", "url"],
            "description": "Background audio (voicebot only)"
          },
          "variables": {
            "type": "array",
            "description": "Custom variables (voicebot only)",
            "items": {
              "$ref": "#/components/schemas/Variable"
            }
          },
          "number_list": {
            "type": "array",
            "description": "Associated phone numbers (voicebot only)",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "advanced": {
            "$ref": "#/components/schemas/AdvancedSettings"
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "mcp_tool": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "auth_token": {
            "type": "string"
          },
          "is_async": {
            "type": "boolean"
          },
          "is_success": {
            "type": "boolean"
          },
          "icon_url": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolParameter"
            }
          }
        }
      },
      "ToolParameter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "file": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Format: YYYY-MM-DD HH:MM:SS"
          }
        }
      },
      "Platform": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "min_delay": {
            "type": "number"
          },
          "max_delay": {
            "type": "number"
          },
          "trigger": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "accent": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "previewUrl": {
            "type": "string"
          }
        }
      },
      "Variable": {
        "type": "object",
        "properties": {
          "variable": {
            "type": "string"
          },
          "default": {
            "type": "string"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "friendly_name": {
            "type": "string"
          }
        }
      },
      "AdvancedSettings": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "interrupt_mode": {
            "type": "boolean",
            "description": "Chatbot only"
          },
          "hipaa_enabled": {
            "type": "boolean",
            "description": "Voicebot only"
          },
          "forwarding_number": {
            "type": "string",
            "description": "Voicebot only"
          },
          "voicemail_message": {
            "type": "string",
            "description": "Voicebot only"
          },
          "end_call_message": {
            "type": "string",
            "description": "Voicebot only"
          },
          "unqualified_prompt": {
            "type": "string",
            "description": "Voicebot only"
          },
          "scoring_prompt": {
            "type": "string",
            "description": "Voicebot only"
          },
          "summary_prompt": {
            "type": "string",
            "description": "Voicebot only"
          },
          "keyterms": {
            "type": "string",
            "description": "Space-separated keywords (voicebot only)"
          },
          "webhook_url": {
            "type": "string",
            "description": "Voicebot only"
          },
          "log_to_crm": {
            "type": "boolean",
            "description": "Voicebot only"
          },
          "recording_consent_message": {
            "type": "string",
            "description": "Voicebot only"
          }
        }
      },
      "AgentCreate": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the agent"
          },
          "type": {
            "type": "string",
            "enum": ["chatbot", "voicebot"],
            "description": "Type of agent to create"
          },
          "description": {
            "type": "string",
            "description": "Description that generates prompt from instructions"
          }
        }
      },
      "AgentUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Agent name"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for the agent"
          },
          "first_message": {
            "type": "string",
            "description": "Initial message"
          },
          "webhook_url": {
            "type": "string",
            "description": "Webhook URL for callbacks"
          },
          "interrupt_mode": {
            "type": "string",
            "enum": ["true", "false"],
            "description": "Enable interrupt mode (chatbot only)"
          },
          "log_to_crm": {
            "type": "string",
            "enum": ["true", "false"],
            "description": "Log conversations to CRM"
          },
          "prompt": {
            "type": "string",
            "description": "System prompt"
          },
          "model": {
            "type": "string",
            "description": "AI model to use"
          },
          "voice": {
            "type": "object",
            "description": "Voice settings (voicebot only)",
            "properties": {
              "id": {
                "type": "string"
              },
              "provider": {
                "type": "string",
                "enum": ["11labs", "playht", "openai"]
              },
              "gender": {
                "type": "string",
                "description": "Optional, for playht provider"
              }
            }
          },
          "language": {
            "type": "string",
            "description": "Language (voicebot only)"
          },
          "keyterms": {
            "type": "string",
            "description": "Space-separated keywords (voicebot only)"
          },
          "background": {
            "type": "string",
            "enum": ["lounge", "off", "url"],
            "description": "Background audio (voicebot only)"
          },
          "hipaa_enabled": {
            "type": "string",
            "enum": ["true", "false"],
            "description": "HIPAA compliance (voicebot only)"
          },
          "forwarding_number": {
            "type": "string",
            "description": "Call forwarding number (voicebot only)"
          },
          "voicemail_message": {
            "type": "string",
            "description": "Voicemail message (voicebot only)"
          },
          "end_call_message": {
            "type": "string",
            "description": "End call message (voicebot only)"
          },
          "recording_consent_message": {
            "type": "string",
            "description": "Recording consent message (voicebot only)"
          },
          "unqualified_prompt": {
            "type": "string",
            "description": "Unqualified lead prompt (voicebot only)"
          },
          "scoring_prompt": {
            "type": "string",
            "description": "Lead scoring prompt (voicebot only)"
          },
          "summary_prompt": {
            "type": "string",
            "description": "Call summary prompt (voicebot only)"
          }
        }
      },
      "AgentList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Agent ID"
                },
                "name": {
                  "type": "string",
                  "description": "Agent name"
                },
                "type": {
                  "type": "string",
                  "enum": ["chatbot", "voicebot"],
                  "description": "Agent type"
                },
                "variables": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variable"
                  }
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "description": "Total count of agents matching filters"
          }
        }
      },
      "AgentDuplicate": {
        "type": "object",
        "required": ["name", "company_id"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name for the duplicated agent"
          },
          "company_id": {
            "type": "string",
            "description": "ID of the company where the agent should be duplicated"
          }
        }
      },
      "FileUpdate": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "New text content for the file"
          }
        }
      },
      "FileUpload": {
        "type": "object",
        "required": ["agent_id"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "ID of the agent"
          },
          "text": {
            "type": "string",
            "description": "Text content (for text upload option)"
          },
          "name": {
            "type": "string",
            "description": "Name of the file (required when using text option)"
          },
          "urls": {
            "type": "string",
            "description": "Newline-separated URLs for web scraping (for web scraping option)"
          }
        }
      },
      "FileUploadMultipart": {
        "type": "object",
        "required": ["agent_id", "file"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "ID of the agent"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "File to upload"
          }
        }
      },
      "IntegrationCreate": {
        "type": "object",
        "required": ["platform", "trigger", "min_delay", "max_delay"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Integration ID (for updating existing integration)"
          },
          "platform": {
            "type": "string",
            "description": "Platform name (e.g., instagram, facebook)"
          },
          "trigger": {
            "type": "string",
            "description": "Trigger event"
          },
          "min_delay": {
            "type": "number",
            "description": "Minimum delay in seconds"
          },
          "max_delay": {
            "type": "number",
            "description": "Maximum delay in seconds"
          }
        }
      },
      "IntegrationUpdate": {
        "type": "object",
[...]
